*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border:none;
}
html , body{height:100%;}
body{scroll-behavior: smooth;}
body{font-family: Arial, Helvetica, sans-serif;}
*::selection{background:#b5d4ff;}


.conteiner{
    height:100%;
    display:flex;
    flex-wrap:wrap;
}

.header{
    background:#4d97ff;
    width:100%;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
}
.header .first{display:inline-flex;align-items:center;gap:10px;}
.header .first i{color:white;}
.header .first img{width:85px ;height:35px;}
.header .input{width:30%;border:none;display:flex;justify-content: space-between;align-items: center;border-radius: 20px;background:#4280d7;}
.header .input input{width:100%;padding:8px 15px;border:none;background:#4280d7;user-select: none;outline:none;border-radius: 20px;}
.header .input i{padding:5px 7px;}
.header .input input::placeholder{color:white}
.header .buttons{display:flex;align-items: center;gap:20px;}
.header .buttons img{width:35px;height:35px;border-radius:50%}
.header .buttons i:hover , img:hover{cursor:pointer;transform: scale(1.1);}
.header .buttons i{font-size:25px;color:white}
 #checked{display:none}
#checked:checked + .left-side{position: absolute;right:100%;transition:0.5s all;}
#checked:checked + .left-side + .center-side{height:calc(100% - 60px);width:100%}


@media(max-width:920px){.left-side h3{display:none;}}
@media(max-width:800px){.bottom-side .center h1{font-size:19px;} 
                        .bottom-side .center .box iframe{width:200px;height:160px} 
                        .bottom-side .center .box button{display:none;}}
@media (max-width:652px){
    .header .buttons i{display:none;}
    .header .first img{width:75px ;height:25px;}
    .header .input i{padding:0px 2px;}
    .bottom-side .top-side2 h3{font-size:12px}
}
@media(max-width:450px){
    .header .first img{width:65px ;height:15px;}
    .bottom-side .center .box iframe{display: none;}
    .center-side .top-side button{padding:0px 4px;}
    .center-side .top-side a button{font-size: 14px;}
    .boxx .boxx-title{font-size:15px}
}

.left-side{
    width:15%;
    height:calc(100% - 60px);
    background: #3c75c5;
    display:flex;flex-direction: column;overflow: auto;}
.left-side:hover::-webkit-scrollbar-thumb{background:#3262a5;border-radius:12px;}
.left-side::-webkit-scrollbar{background: transparent;width:4px}
.left-side .kapsayici{display:flex;justify-content: space-around;align-items: center;gap:15%;padding:5%;margin:1px;user-select: none;}
.left-side i{font-size:20px;color:#fff}
.left-side .kapsayici h3{flex:1;color:white;}
.left-side .importent , .kapsayici:hover {background:#4280d7;cursor:pointer;border-radius:5px;}

.center-side{
    width:85%;
    height:calc(100% - 60px);
    overflow: auto;
}

.center-side .top-side{
    width:100%;
    height:80px;
    box-shadow: 0px 0px 5px black;
    background:#0b8e69;
    display:flex;align-items: center;justify-content: center;z-index:1;position: relative;
}
.center-side .top-side button{border-radius:20px;padding:6px 13px;margin:5px;color:#0b8e69;font-size:17px;font-weight: bold;cursor:pointer;}
.center-side .bottom-side .center{width:100%;height:500px;background-image:url("resimler/background.jpg");background-size:cover;display:flex;align-items: center;justify-content: space-around;}
.center-side .bottom-side .center h1{user-select: none;}
.center-side .bottom-side .center iframe{border-radius:10px;}
.center-side .top-side2{
    width:100%;
    height:40px;
    box-shadow: 0px 0px 5px black;
    background:#5f9284;
    display:flex;align-items: center;justify-content: center;z-index:1;position: relative;
}
.center-side .bottom-side .center .box {display:flex;flex-direction: column;align-items: center;gap:5px}
.center-side .bottom-side .center .box button{padding:13px 20px;border-radius:10px;background-color: rgba(0, 0, 0, 0.15);}
.center-side .bottom-side .center .box button a{font-weight: bold;color: white;text-decoration: none;}
.center-side .bottom-side .boxx{width:90%;height:200px;border-radius:10px 10px 0 0;border: 1px solid #d9d9d9;margin:20px 5% 2px 5%;}
.center-side .bottom-side .boxx:hover::-webkit-scrollbar-thumb{background:#3262a5;border-radius:12px;}
.center-side .bottom-side .boxx::-webkit-scrollbar{background: transparent;width:4px}
.boxx-title{background:#f2f2f2;width:100%;height:50px;padding:15px 17px;font-weight:bold;font-size:18px;}
.boxx-conteiner{height:150px;width:100%;display:flex;gap:20px;flex-wrap:nowrap;}
.boxx-view{display:inline-flex;flex-direction: column;margin:10px;justify-content: center;}
.boxx-view img{width:120px;height:100px;}
.boxx-view a{text-decoration: none;font-size:13px}
.boxx-view a:hover{text-decoration:underline;}

.footer{background-color: #f2f2f2;width:100%;height:350px;display:flex;gap:70px;box-sizing: border-box;padding:100px;justify-content: space-evenly;}
.footer-box{display:inline-flex;flex-direction: column;gap:5px;}
.footer-box a{color:gray;text-decoration: none;}
.footer-box a:hover{color:chocolate;}
.footer-feedback{background:#d1d1d1;width:100%;height:50px;color:black;line-height:50px;text-align:center;font-size:14px}

.gizlilik-conteiner{display:flex;margin:70px auto;gap:30px;width:75%;height:max-content}
.gizlilik-conteiner .view{width:80%;}
.gizlilik-conteiner .view b{color:gray;font-size:20px;font-weight: bold;}
.gizlilik-conteiner .menus a{color:gray;text-decoration: none;margin-top:20px;}
.gizlilik-conteiner .menus a:hover{color:black;}
.view-box{background-color: rgba(77, 151, 255, 0.1);border: 1px solid rgba(0, 0, 0, 0.1);border-radius:5px;box-sizing: border-box;padding:15px 20px;}
.gizlilik-conteiner img{width:30%;}
.text{display:flex;gap:30px;margin-top:90px;}
.text a{color:rgb(107, 107, 255);text-decoration: none;}
.text a:hover{color:rgb(14, 14, 255)}
.kisim1{margin:30px auto;border: 1px solid #f2f2f2;border-radius: 10px;padding: 26px 40px 6px;width:80%;flex-wrap:wrap;display:flex;gap:30px;justify-content: space-around;align-content: space-around;}
.kisim1-box{width:35%;padding-right:10px}
.kisim1-box a{color:black;text-decoration: none;}
.kisim1-box a:hover{text-decoration: underline;}
.ebevyn-conteiner{background-color: #4280d7;padding: 20px 0;width:100%;}
.ortala{margin:0px auto;width:70%;}
.whitecolor{color:white}
.ortala h3{font-weight:lighter}
.top-sidee{background-color: #7eb4ff;width:100%;display:flex;height:50px;align-items: center;justify-content: center;gap:30px}
.top-sidee button , .top-sideee button{padding:7px 13px;border-radius:15px;cursor:pointer;}
.ortala .kisim1-box a{color:blue}
.dispose{display:flex;justify-content: space-between;}
.write{background-color: #f2f2f2;width:100%;margin-top:5%}
.write .ortala{padding:40px 0px;box-sizing: border-box;}
.egitimci-conteiner{background-color: #855cd6;padding: 20px 0;width:100%;}
.top-sideee{background-color:#9f7edf;width:100%;display:flex;height:50px;align-items: center;justify-content: center;gap:30px}
.kisim1-box img[src="resimler/foto7.png"]{width:100%;height:100%;margin:30px 10px 10px 30px;}
.kisim1-box button{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;border-radius:10px;padding:5%;background: #4d97ff}
.display-property{display:flex;justify-content: space-between;}
.kisim1-box img[src="resimler/olustur.png"]{width:200px;height:140px}
.line{border-right:1px solid rgb(187, 187, 187);}
.photo{width:100%;height:300px;background-image:url("resimler/foto11.png");background-size:cover;}
.colorful{height:230px;padding:50px 0px;box-sizing: border-box;}
.purple{background:#855cd6;}
.purple3{background:#7c59c2;}
.purple4{background:#596864}
.purple5{background:#6ab64b}
.purple6{background:#703e45}
.green{background:#94d370;}
.green2{background:#78aa5a;}
.purple2{background:#b852c5;}
.yellow{background:#ddd456;}
.blue{background:#5695dd;}
.kisim2-box{width:75%;padding-right:10px}
.colorful .ortala .kisim1-box button a{padding:10px 35px;color:white;font-weight: bold;}
.display-property2{display:flex;flex-direction: column;gap:20px;align-items: center;justify-content:flex-end;}
.display-property2 button a{padding:15px 60px;display:inline-block;background:#ddd456;color:black;font-size:20px;text-decoration: none;border-radius:8px}
.colorfull{height:330px;padding:50px 0px;box-sizing: border-box;width:100%;}
.colorfulll{height:max-content;padding:50px;width:100%;background:#98d177;}
.colorfulll-2{height:max-content;padding:50px;width:100%;background:#af87ff;}
.colorfulll-3{height:max-content;padding:50px;width:100%;background:#8baaa2;}
.colorfulll-4{height:max-content;padding:50px;width:100%;background:#89cf6d;}
.colorfulll-5{height:max-content;padding:50px;width:100%;background:#d38e97;}
.goster-box{background:white;border-radius:10px;padding:30px;height:250px;width:100%;}
.sliderKonum{   
    position: relative;
    width: 1200px;
    height: 200px;
    overflow: hidden;
}
.bir{left: 0px;}
.iki{left: 120px;}
.uc{left: 240px;}
.dort{left: 360px;}
.bes{left: 480px;} 
.alti{left: 600px;} 
.yedi{left: 720px;}
.sekiz{left: 840px;}
.dokuz{left: 960px;}
.on{left: 1080px;}
.sliderKonum > .slider{
    position: absolute;
    left:0px;
    width: 1460px;
    height: 120px;
    -webkit-animation-duration: 15s;
    -webkit-animation-name: sliders;
    -webkit-animation-iteration-count:infinite;
    animation-duration: 15s;
    animation-iteration-count:infinite;
  }
  @keyframes sliders{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-140px;}
    30% {left:-290px;}
    40%{left:-430px;}
    50%{left:-580px;}
    60% {left:-720px;}
    70% {left:-850px;}
    80% {left:-990px;}
    90%{left:-1170px;}
    100%{left:-1290px;}
  }

.center-side form{
    margin:0px auto;
    width:65%;
    height:max-content;
    padding:60px;
    box-sizing: border-box;
}

.center-side form table{width:100%;
height:300px;}

.center-side form table tr td input,
.center-side form table tr td textarea
{border:1px solid #eee;padding: 15px;border-radius: 25px;}

.center-side form table tr td div{
    width:70%;
    margin: 0px auto;
    padding:15px 0;
    border-radius: 25px;
    border:1px solid #eee;
}
.center-side form table tr td div:hover{
    background-color: white;
    cursor: pointer;
}
button.btn2{
    background:none;
    border:none;
    margin:0px auto;
    font-size:20px
}

.kapsayici a{color:white;text-decoration: none;}